# Ignore Visual Studio Code specific directories and files
.vscode/
*.code-workspace

# Ignore Visual Studio specific directories and files
.vs/
.history/

# Optional additional VS Code-specific files
*.vscodeignore
*.vsix
.vscode-test/

eclipse_exctraction_and_coding_script.shS